#title {
  text-align: center;
  
  
}

#choices {
  display: flex;
}

.center {
    text-align: center;

}
.choice {
  margin: auto;
  border: 10px solid gray;
  border-radius: 30px;
  /* height: 300px
  width:  800px  */
  
}

.selections {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  
}

#player, #opponent {
  display: flex;
  justify-content: center;
  justify-content: space-around;

}


#rock, #paper, #scissor {
  background-image: url('images/rock-paper-scissors.jpg');
  background-repeat: no-repeat;
}

#rock { 
  height: 200px;
  width: 200px;
  background-position: -20px -10px;
}

#paper {
  height: 200px;
  width: 200px;
  background-position: -225px -10px;
}

#scissor {
  height: 200px;
  width: 200px;
  background-position: -435px -10px;
}
